@tailwind base;
@tailwind components;
@tailwind utilities;

body, html { 
  margin: 0; 
  padding: 0; 
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  background-color: #050510; 
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}

#root { 
  width: 100%; 
  height: 100%; 
}